<%= form_for(@proyecto) do |f| %>
  <% if @proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% @proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :clave_obra %><br>
    <%= f.text_field :clave_obra %>
  </div>
  <div class="field">
    <%= f.label :num_proyecto %><br>
    <%= f.text_field :num_proyecto %>
  </div>
  <div class="field">
    <%= f.label :monto_solicitado %><br>
    <%= f.number_field :monto_solicitado %>
  </div>
  <div class="field">
    <%= f.label :monto_autorizado %><br>
    <%= f.number_field :monto_autorizado %>
  </div>
  <div class="field">
    <%= f.label :of_autorizacion %><br>
    <%= f.text_field :of_autorizacion %>
  </div>
  <div class="field">
    <%= f.label :fecha_inicio %><br>
    <%= f.date_select :fecha_inicio %>
  </div>
  <div class="field">
    <%= f.label :fecha_fin %><br>
    <%= f.date_select :fecha_fin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
